<button mat-raised-button matTooltip="Add User" (click) = "addUser()" matTooltipPosition="above">add</button>
<mat-table #table [dataSource]="users">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
    </ng-container> 
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> EMAIL </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> ACTION </mat-header-cell>
        <mat-cell  *matCellDef="let user">
            <button mat-raised-button matTooltip="View User" (click) = "viewUser(user.id)" matTooltipPosition="above">view</button>
            <button mat-button color="primary" matTooltip="Edit User" (click) = "editUser(user)" matTooltipPosition="above">edit</button>
            <button mat-raised-button color="warn" matTooltip="Delete User" (click) = "deleteUser(user.id)" matTooltipPosition="above">delete</button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedtransColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedtransColumns;"></mat-row>
</mat-table>